name: "inttest-configurator"
version: "3.8"
services:
  db:
    container_name: dockerdev-db-inttest-configurator
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: mysecretpassword
